Cython>=0.29.36
pyYAML==6.0.2 --only-binary :all:
python-telegram-bot==20.8
yt-dlp==2023.03.04
ffmpeg-python==0.2.0
pydub==0.25.1
requests==2.28.1
aiohttp  # Allow latest version instead of forcing a specific one
lyricsgenius==3.0.1
python-dotenv==0.21.0
loguru==0.6.0
apscheduler==3.8.1
psutil==5.9.8
pillow>=10.3.0  # Updated version
pyrogram==2.0.106
pytgcalls==2.1.0
tornado<6.5,>=6.1